
.home {
	width: 102%;
    height: auto;
	/* position: fixed; */
	margin-left: -1%;
	margin-top: -1%;
}

.mylogo {
    width: 100%;
    height: auto;
    opacity: .65;
	padding: 30% 0;
}

.menu {
	padding-top: 5px;
	padding-right: 60px;
    margin-top: 0px;
    float: right;
}

.header {
    Width: 101%;
    Height: 38px;
    position: fixed;
    z-index: 3;
    /* opacity: .90; */
    background-color: rgb(128, 128, 128);
    margin-top: -9px;
    margin-left: -9px;
}

.logo {
	position: absolute;
    padding-left: 2%;
    margin-top: -5px;
    height: 30px;
    /* width: 100%; */
    z-index: 4;
	clear: left;
}

.logo img {
	height: 30px;
	margin-top: 14px;
}

.options {
	padding: 30px 70px;
	font-size: x-large;
}

h2 {
	text-align: center;
	padding-top: 75px;
}

body {
	background-image: url("homepage_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.main {
	background-color: white;
	height: 1000px;
}

.homebackground {
	width: 50%;
    margin: auto;
}

.main2 {
	margin: auto;
    width: 50%;
    padding-top: 50px;
    text-align: center;
}

.mypic {
    width: 350px;
    display: block;
    margin: auto;
    margin-top: 150px;
    border-radius: 43px;
    clear: both;
}

.myname {
	width: 1400px;
	margin: auto;
	display: block;
	padding-top: 20px;
}