div {
	/* width:100%; 
	height: auto;
	font-family: "Arial"; */
}

h1 {
	font-family: "Arial"; 
	text-align: center;
}

td {
	font-family: "Arial";
	font-size: 16px;	
}

.banner {
	width: 102%;
	height: auto;
	margin-left: -1%;
	margin-top: -1%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
	 
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.name {
	position: absolute;
	padding-left: 5%;
	margin-top: -5px;
}

.menu {
	padding-top: 5px;
	padding-right: 60px;
    margin-top: 0px;
    float: right;
}
.body {
	margin: auto;
    width: 50%;
	height: auto;
	padding-right: 3px;
	padding-top: 3%;
	/* border-radius: 5px; */
}

.header {
	Width:100%;
	Height: 30px;
	position: absolute;
	z-index:3;
    opacity: .90;
    background-color: rgba(128, 128, 128, 0.90);
    margin-top: -9px;
    margin-left: -9px;
}

.toptext {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: large;
    z-index: 4;
}

.logo {
	position: absolute;
    padding-left: 2%;
    margin-top: -5px;
    height: 30px;
    /* width: 100%; */
    z-index: 4;
	clear: left;
}

.name_title {
	/* padding-top: 100px;
	padding-left: 20px */
	width: 100%;
}

table {
	/* border: solid; */
	border-color: rgba(193, 189, 189, 0.64);
	margin: auto;
	width: 100%;
	min-width: 540px;
	border-radius: 5px;
}

td {
	border-left: solid;
	border-color: rgba(0, 0, 0, 0.37);
    text-align: center;
    font-size: large;
    font-family: arial;
    width: 180px;
    border-width: 1px;
}

.firstcell {
	border-left: none;
}

.portfolio {
	padding-top: 3%;
    margin: auto;
    width: 75%;
    text-align: center;
}

.logos {
	box-shadow: 1px 1px 2px 2px;
	margin: 1%;
}

.flyers {
	box-shadow: 1px 1px 2px 2px;
	margin: 1%;
}
.instructional {
	box-shadow: 1px 1px 2px 2px;
	margin: 1%;
}
.business {
	box-shadow: 1px 1px 2px 2px;
	margin: 1%;
}
.websites {
	box-shadow: 1px 1px 2px 2px;
	margin: 1%;
}
.misc {
	box-shadow: 1px 1px 2px 2px;
	margin: 1%;
}

.namecontainer {
	background-color: white;
	width: 102%;
	margin-top: -4px;
	border-bottom: solid;
	text-align: center;
	height: auto;
	margin-right: -8px;
	margin-left: -8px;
}

.lastcell {
	border-right: none;
}

.logos:hover { 
transform: scale(1.1);
}

.flyers:hover {
	    transform: scale(1.1);
}

.instructional:hover {
	    transform: scale(1.1);
}

.business:hover {
    transform: scale(1.1);
}

.websites:hover {
    transform: scale(1.1);
}

.misc:hover {
    transform: scale(1.1);
}

body {
	background: linear-gradient(#4099df, #1c4b70);
}

.logo img {
	height: 30px;
	margin-top: 5px;
}